## 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dubovskoye,RU,2022-04-24 02:16:48,47.4092,42.7575,48.00,79,68,7.74
1,1,Sembe,CG,2022-04-24 02:16:48,1.6481,14.5806,70.14,99,97,2.37
2,2,Bluff,NZ,2022-04-24 02:16:49,-46.6000,168.3333,52.81,71,89,20.56
3,3,Dombarovskiy,RU,2022-04-24 02:16:49,50.7587,59.5386,38.52,80,100,13.76
4,4,Klaksvik,FO,2022-04-24 02:16:49,62.2266,-6.5890,43.72,84,100,21.27
...,...,...,...,...,...,...,...,...,...,...
561,561,Leningradskiy,RU,2022-04-24 02:31:58,69.3833,178.4167,26.11,88,100,3.89
562,562,Isabela,PH,2022-04-24 02:31:58,6.7085,121.9711,86.05,72,34,5.75
563,563,Athabasca,CA,2022-04-24 02:31:58,54.7169,-113.2854,52.21,74,81,7.87
564,564,Lasa,IT,2022-04-24 02:31:59,46.6166,10.7002,43.68,98,99,5.64
565,565,Hurghada,EG,2022-04-24 02:31:59,27.2574,33.8129,71.64,26,0,9.22

In [3]:
# Check the data types for every column. For gmpas data must be either an integer or a floating-point decimal number.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=30)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust Heatmap Zoom, Intensity, and Point Radius

## Create a Percent Humidity Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3 Get Vacation Criteria

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Nanhai,CN,2022-04-24 02:16:50,30.1282,111.7784,77.11,77,70,8.99
8,8,Sokolo,ML,2022-04-24 02:16:51,14.7328,-6.1219,84.69,13,2,10.92
12,12,Vaini,TO,2022-04-24 02:16:52,-21.2000,-175.2000,82.56,69,40,9.22
13,13,Arraial Do Cabo,BR,2022-04-24 02:16:52,-22.9661,-42.0278,78.01,79,2,10.27
16,16,Butaritari,KI,2022-04-24 02:16:53,3.0707,172.7902,81.52,77,54,13.91
18,18,Morondava,MG,2022-04-24 02:16:54,-20.2833,44.2833,75.06,90,100,7.09
19,19,Banjar,ID,2022-04-24 02:16:54,-8.1900,114.9675,86.67,66,62,2.26
29,29,Mahebourg,MU,2022-04-24 02:16:57,-20.4081,57.7000,75.49,69,40,14.97
30,30,Vila Velha,BR,2022-04-24 02:12:52,-20.3297,-40.2925,80.55,84,0,11.50
34,34,Atuona,PF,2022-04-24 02:15:23,-9.8000,-139.0333,79.50,77,76,16.64

In [12]:
# preferred_cities_df.count()
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Keep colulmns City, Country, Max Temp, Lat, and Lng, then add a new column Hotel Name.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
6            Nanhai      CN     77.11  30.1282  111.7784
8            Sokolo      ML     84.69  14.7328   -6.1219
12            Vaini      TO     82.56 -21.2000 -175.2000
13  Arraial Do Cabo      BR     78.01 -22.9661  -42.0278
16       Butaritari      KI     81.52   3.0707  172.7902
18        Morondava      MG     75.06 -20.2833   44.2833
19           Banjar      ID     86.67  -8.1900  114.9675
29        Mahebourg      MU     75.49 -20.4081   57.7000
30       Vila Velha      BR     80.55 -20.3297  -40.2925
34           Atuona      PF     79.50  -9.8000 -139.0333

## 6.5.4 Map Vacation Criteria

Get Travel Destinations

In [15]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head()

               City Country  Max Temp      Lat       Lng           Hotel Name
6            Nanhai      CN     77.11  30.1282  111.7784        Jingnan Hotel
8            Sokolo      ML     84.69  14.7328   -6.1219
12            Vaini      TO     82.56 -21.2000 -175.2000  Keleti Beach Resort
13  Arraial Do Cabo      BR     78.01 -22.9661  -42.0278  Pousada Porto Praia
16       Butaritari      KI     81.52   3.0707  172.7902   Isles Sunset Lodge

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))